body {
    background-image: url('https://images.unsplash.com/photo-1516734212186-a967f81ad0d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-size: unset; */
    margin-bottom: 80px;
    /* background-blend-mode: lighten; */
    
}
.card {
    opacity: 70%;
    background-color: white;
    
}
.row {
    margin-top: 10%;
    justify-content: space-around;
}
li {
    text-align: left;
}
.img-fluid {
    max-width: 50%;
    height: 75%;
    display: block;
}
.btn {
    margin-bottom: 10px;
    padding: 10px;
}

.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .scrolled-down{
     transform:translateY(-100%); transition: all 1s ease-in-out;
  }
  .scrolled-up{
     transform:translateY(0); transition: all 0.5s ease-in-out;
  }

  .container-md {
      min-width: 400px;
  }